.hot{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    background: red;
}
.link{
    float: left;
    color:#00a67c;
}
.like{
    float: right;
    color:red;
}

  .ant-card-head-title{
    color:#00a67c;
  } 

  .hot .bigPic .ant-card-head {
    height: 48px !important;
  }

