.hot{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    background: red;
}
.link{
    float: left;
    color:#00a67c;
}
.like{
    float: right;
    color:red;
}
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
  } 
  .clearfloat{
    zoom:1
  }
  .ant-card-head-title{

  } 