.nav {
    background:#d56363;
    height: 50px;
    line-height: 50px;
    background: #4a4a4a;
    padding-bottom: 0px;
}
.top{
    height: 100px;
    line-height: 100px;
    color:white
}
.top span{
    font-size:
}
.header{
    background:#d56363;
    height: 150px;
}
/* .top {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #d56363;
} */