.nav {
    height: 50px;
    line-height: 50px;
    background: #4a4a4a;
    padding:0 50px;np
    
}
.top{
    height: 100px;
    line-height: 100px;
    color:white;
    font-size:20px;
    text-align: center;
}
.top span{
    font-size:50px;
}
.header{
    background:#d56363;
    height: 150px;
    padding: 0px;
}
/* .top {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #d56363;
} */