.nav {
    background:#d56363;
    height: 50;
}
.header{
    background:#d56363;
    height: 150px;
}
/* .top {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #d56363;
} */