 .login-form {
    max-width: 300px;
    margin:  10px auto 0px;

  }
   .login-form-forgot {
    float: right;
  }
   .login-form-button {
    width: 100%;
  }
  .form-border{
      margin: 200px auto;
      width: 400px;
      height: 400px;
      border:1px solid #dad3d3;
  }
  .icon{
      font-size:40px;
      background: #000;
  }
