 .login-form {
    max-width: 400px;
    margin: 200px auto;
    border:1px solid gray;
    /* padding: 100px; */
  }
   .login-form-forgot {
    float: right;
  }
   .login-form-button {
    width: 100%;
  }
