 .login-form {
    max-width: 300px;
    margin:  30px auto 0px;

  }
   .login-form-forgot {
    float: right;
  }
   .login-form-button {
    width: 100%;
  }
  .form-border{
      margin: 200px auto;
      width: 400px;
      height: 400px;
      border:1px solid #dad3d3;
      /* text-align: center; */
  }
  .icon{
      margin-top: 20px;
      background: #1890ff;
      margin:20px auto;

  }
  span.ant-avatar{
      width: 60px;
      height: 60px;
     line-height: 60px;
      border-radius: 50%;
     
  }
  .ant-avatar-lg.ant-avatar-icon{
    font-size: 45px;
  }
