.share {
    height: 80px;
    background: white;
    display: flex;
    padding-left: 20px;
}
.share span{
    background:pink;
    color:white;
    font-size:40px;
    flex: 1;
    margin: 15px 20px 15px 0px;
    text-align: center;
    line-height: 50px;
}
.share span:nth-child(2){
    background: greenyellow;
}
.share span:nth-child(3){
    background: burlywood;
}

.share span:nth-child(4){
    background: greenyellow;
}

.share span:nth-child(5){
    background: greenyellow;
}

