.share {
    height: 50px;
    background: white;
}
.share span{
    margin-left: 10px;
 
    background:pink;
    color:white;
    font-size:50px;
}
.share span i{
    width: 60px;
    height: 60px;
}