.banner{
  height: 300px;
}


/* bigPIc的样式 开始*/
.bigPic {
  float: right;
  width: 81%;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .banner .ant-card-head {
    height: 48px;
  }


  /* bigPIc的样式 结束*/

  /* littlePIc的样式 开始*/

  .littlePic {
    float: left;
    width: 18%;
    height: 300px;
  }
  .border{
    padding: 4px;
    margin:3px 0px;
    background: white;
  }
  .border:hover{
     background: rgb(173, 221, 188);
  }  

   /* littlePIc的样式 结束*/